/*Bounce animation in vanilla CSS as coffee doesn't support keyframes*/
.bounce {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: calc(50% - 25px);
    -webkit-animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom:4px;
  }

  25%, 75% {
    bottom:12px;
  }


  50% {
    bottom:16px;
  }

  100% {
    bottom:0;
  }
}
