/*----- PROXIMA NOVA -----*/
  /* proximanova-regular */
  @font-face {
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 400;
      src: url('../proximanova/proximanova-regular.eot'); /* IE9 Compat Modes */
      src: local('Proxima Nova-Regular'),
           url('/fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'), /*IE6-IE8 */
           url('/fonts/proximanova-regular.woff2') format('woff2'), /* Super Modern Browsers */
           url('/fonts/proximanova-regular.woff') format('woff'), /* Modern Browsers */
           url('/fonts/proximanova-regular.ttf') format('truetype'), /* Safari, Android, iOS */
           url('/fonts/proximanova-regular.svg#proxima_nova_rgregular') format('svg'); /* Legacy iOS */
  }
